/*document*/
@charset "UTF-8";

.clear{
    clear: both;
}
html,body{
    height:100%
}
ul,li{
    list-style: none;
}
*{
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6,p,span{
    margin:0;
    padding:0;
}
a:link{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}






/*顶部区域*/
.top-area .top{
    width:80%;
    height:auto;
    margin:0 auto;
}
.top-area .top .left{
    padding:2em 0;
    font-size: 1em;
}


.top-area .top .left a{
    color:#999;
    margin-right:0.3em;
    transition: color 1s;
}
.top-area .top .left .fa-phone{
    color:#999;
    margin-right:0.3em;
}
.top-area .top .right{
    padding:2em 0;
    text-align: right;
    font-size: 1.2em;
}
.top-area .top .right a{
    color:#999;
    transition: color 1s;
    margin-left:0.3em
}
.top-area .top .left a:hover{
    color: #ffc059;
}
.top-area .top .right a:hover{
    color: #ffc059;
}


.top-area .bottom{
    width:80%;
    height:auto;
    padding:2em 0;
    margin:0 auto;
}
.top-area .bottom .logo h1{
    font-size: 3em;
    line-height:20px;
}
.top-area .bottom .logo h1 span{
    color:#999;
    font-size: 15px;
    letter-spacing: 5px;
}
.top-area .bottom .nav{
    position: relative;
}
.top-area .bottom .nav .left{
    float: left;
}
.top-area .bottom .nav .left ul li{
    float:left;
    font-size: 1em;
    padding:0 8px;
    color:#999;
    padding-top:15px;
}
.top-area .bottom .nav .left ul li a{
    color:#999;
    transition: color 1s;
}
.top-area .bottom .nav .left ul li a:hover{
    color:#ffc059;
}
.top-area .bottom .nav .right{
    float: left;
}
.top-area .bottom .nav .right .pic-buttom{
    position: absolute;
    padding:3px;
    /*background: #ffcd8f;*/
    /*padding-left:100px;*/
    right:0;
    text-align: center;
}


.top-area .bottom .shopp-car{
    text-align: right;
}
.top-area .bottom .shopp-car a{
    color:#ffc059;
    font-size: 16px;
}
.top-area .bottom .shopp-car a span:last-child{
    color:#000;
}
/*顶部区域*/






/*内容区域*/
.content-area .banner{
    background: #f5f5f5;
}
.content-area .banner .center{
    width:80%;
    padding:20px 0;
    color:#999;
    margin:0 auto;
    font-size: 1.2em;
}
.content-area .banner .center a{
    color:#ffc059;
}
.content-area  .content{
    width:80%;
    height:auto;
    margin:0 auto;
}
.content-area  .content .title{
    padding:40px 0;
    font-size: 1.3em;
    color:#000;
}
.content-area  .content .content-cart{
    width:100%;
    height:auto;
}
.content-area  .content .content-cart .content-T{
    width:100%;
    height:auto;
    text-align: center;
    border:1px solid #989898;
}
.content-area  .content .content-cart .content-T thead{
    background: #d87140;
    height:20px;
    color:#fff;
}
.content-area  .content .content-cart .content-T thead tr th{
    text-align: center;
    border:1px solid #989898;
}
.content-area  .content .content-cart .content-T tbody .pic{
    /*width:100%;*/
    padding:10px 0;
}
.content-area  .content .content-cart .content-T tbody tr td{
    border:1px solid #989898;
}


.content-area  .content .content-cart .content-T tbody tr td div{
    width: 30px;
    height:30px;
    background: #989898;
    margin:0 auto;
    margin-top:10px;
    line-height: 30px;
    text-align: center;
    /*align-items: center;*/
}



.content-area  .content .content-cart .content-T tbody .pic{
    width:30%;
}
.content-area  .content .content-cart .content-T tbody .pic img{
    width:30%;
    height:auto;
    /*display: block;*/
}
.content-area  .content .content-info{
    margin-top:40px;
    display: flex;
    align-items: center;
}
.content-area  .content .content-info .cs{
    text-align: right;
}
.content-area  .content .content-info .cs input{
    width:200px;
    height:40px;
    background: #000 url(../image/向左.png);
    background-position: 28px 14px;
    background-size: 1em;
    background-repeat: no-repeat;
    color:#fff;
    transition: background 1s;
    border: none;
    outline: none;
    padding-left:25px;
}
.content-area  .content .content-info .cs input:hover{
    background-color: #ffac30;
}

/*内容区域*/







/*footer*/
.footer-area{
    background: #2e2e2e;
    margin-top:80px;
}
.footer{
    width:85%;
    min-height: 300px;
    margin:0 auto;
    padding-top:50px;
}
.footer-area .footer h1{
    color:#fff;
}
.footer-area .footer hr{
    background: #575757;
    width:75px;
    height:2px;
    border:0;
}
.footer-area .footer p{
    color:#999999;
    margin-bottom: 10px;
}


.footer-area .footer .pic{
    width:90%;
    height:auto;
}
.footer-area .footer .pic div{
    float:left;
    width:33.33%;
    padding:8px 8px 0 0 ;

}
.footer-area .footer .pic div img{
    max-width:100%;
    height:auto;
}

.footer-area .footer .pic-last{
    width:100%;
    height:auto;
    color:#989898;
}
.footer-area .footer .pic-last .top{
    display: flex;
}
.footer-area .footer .pic-last .top img{
    width:75px;
    height:100px;
}
.footer-area .footer .pic-last .bottom{
    display: flex;
    margin-top:20px;
}
.footer-area .footer .pic-last .bottom img{
    width:75px;
    height:100px;
}
.footer-area .footer .pic-last .right{
    padding:15px 0 0 20px;
    font-size: 1.2em;
}
.footer-area .footer .pic-last .right span{
    font-size: 0.8em;
    margin-top:10px;
    display: inline-block;
}



.footer-area .page-footer{
    width:85%;
    height:auto;
    margin:0 auto;
    margin-top:90px;
}
.footer-area .page-footer .logo{
    width:100%;
    height:auto;
    text-align: center;
    display: flex;
    align-items: center;
}
.footer-area .page-footer .logo p{
    margin:0 10px;
    font-size: 43px;
    color:#565656;
    line-height: 20px;
}
.footer-area .page-footer .logo p span{
    font-size: 12px;
    letter-spacing: 3px;
}
.footer-area .page-footer .logo hr{
    flex: 1;
    border-top: 1px double #565656;
    border-bottom: 1px double #565656;
    height:2px;
    /*padding:1px;*/
}
.footer-area .page-footer .page-info{
    width: 100%;
    height:auto;
    font-size: 1.3em;
    color:#808080;
    text-align: center;
    padding:50px;
}
.footer-area .page-footer .page-info p span{
    color:#fff;
}
/*footer*/








@media screen and (max-width: 600px){
    .top-area .top .left{
        text-align: center;
    }
    .top-area .top .right{
        text-align: center;
        padding:10px 0;
    }
    .top-area .bottom .logo{
        text-align: center;
        padding:0;
    }
    .top-area .bottom .nav .left{
        display: none;
    }
    .login-area .content-login{
        width:100%
    }
}



@media screen and (max-width: 700px){
    /*.content-area  .content .content-cart .content-T thead{*/
        /*width: 100%;*/
    /*}*/
    /*.content-area  .content .content-cart .content-T thead tr{*/
        /*display: block;*/
        /*width: 100%;*/
    /*}*/
    .content-area  .content .content-cart .content-T thead tr th{
        display: block;
        width:100%;
    }
    .content-area  .content .content-cart .content-T tbody tr td{
        display: block;
        width:100%;
    }
    .content-area  .content .content-cart .content-T .pic{
        margin:0 auto;
    }
    .content-area  .content .content-cart .content-T tbody tr{
        border: 1px solid #989898;
    }
    .content-area  .content .content-cart .content-T tbody tr td{
        border: none;
    }
}

@media screen and (max-width: 800px){
    .top-area .bottom .logo h1{
        font-size: 2em;
    }
}



/*.footer-area .page-footer{*/
    /*margin-top:270px;*/
/*}*/
/*@media screen and (max-width: 414px){*/
    /*.footer-area .page-footer{*/
        /*margin-top:40px;*/
    /*}*/
/*}*/

@media screen and (max-width: 800px){
    .content-area  .content .content-cart .content-T tbody .pic{
        width:100%;
    }
    .content-area  .content .content-cart .content-T tbody .pic img{
        width:40%;
        height:auto;
        /*display: block;*/
    }
}



























